ultralytics
opencv-python
numpy
pandas
scipy
streamlit
streamlit-autorefresh
matplotlib
pillow
scikit-learn
plotly 
redis 
streamlit-aggrid
networkx
flask
django
pygame
PyOpenGL
PyOpenGL_accelerate
numpy